.screen {
  background-color: #1c1b1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.screen h2{
  font-size: 26px;
  margin-bottom: 10px;
}

.verde {
  background-color: #499F68;
  border-color: #499F68;
}

.vermelho {
  background-color: #FF220C;
  border-color: #FF220C;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.laranja {
  background-color: #ff9800;
  border-color: #ff9800;
}
