/*GENERAL*/
body{
  background-color: #333;
  margin: 30px 0;
}

.bandeira {
  width: 400px;
  margin: 20px;
  height: 250px;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  float: left;
  cursor: pointer;
}

.bandeira:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.bandeira-row-3 {
  height: 33.3%;
}

.bandeira-row-2 {
  height: 50%;
}

.bandeira-row-1 {
  height: 100%;
}

@font-face{
  font-family:'digital-clock-font';
  src: url('../font/digital-7.ttf');
 }

 .olhinho,
 .maozinha{
   position: fixed;
   background-color: #ffffff;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   text-align: center;
   z-index: 5;
   cursor: pointer;
 }

 .olhinho:hover,
 .maozinha:hover{
   box-shadow: 4px 4px 30px rgb(0,0,0,0.5);
 }

 .olhinho{
   margin-left: 20px;
 }

 .maozinha{
   margin-left: 140px;
 }

.olhinho i,
.maozinha i{
  color: #333;
  font-size: 44px;
  margin-top: 18px;
}
