/*BANDEIRAS*/


/*Finlândia*/
.finlandia-color {
  background-color: #0024c7;
}

.branco{
  background-color: #fff;
}

.finlandia-row-m {
  display: inline-block;
  width: 70px;
}

.finlandia-row-s {
  display: inline-block;
  width: 90px;
}

/*Japão*/

.japao-color {
  background-color: #f11e01;
}

.japao-s {
  border-radius: 100%;
  width: 30%;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

/*Alemanhã*/

.alemanha-color-1 {
  background-color: #000000;
}

.alemanha-color-2 {
  background-color: #d00;
}

.alemanha-color-3 {
  background-color: #ffce00;
}

/*Grécia*/

.grecia-row-20 {
  height: 20%;
}

.grecia-row-40 {
  height: 40%;
}

.grecia-20 {
  width: 20%;
}

.grecia-40 {
  width: 40%;
}

.grecia-inline {
  display: inline-block;
}

.grecia-r {
  float: right;
}

.grecia-l {
  float: left;
}

.grecia-row-s {
  width: 120px;
}

.grecia-row-b {
  width: 280px;
}

.grecia-color {
  background-color: #010080;
}

/*Líbano*/

.libano-row {
  height: 25%;
}

.libano-row-img {
  text-align: center;
}

.libano-img {
  width: 120px;
}

.libano-color {
  background-color: #fe0000;
}

/*Brasil Code from https://codepen.io/diegoleme/pen/iKxmu */

.verde {
  width:100%;
  position: relative;
  background: #00A859;
}

.amarelo-top {
  width: 1px;
  height: 1px;
  border: solid 8.3em transparent;
  border-bottom: solid 5.3em #FFCC29;
  border-top-width: 0;
  position: absolute;
  top: 2.7em;
  left: 4em;
}

.amarelo-bottom {
  width: 1px;
  height: 1px;
  border: solid 8.3em transparent;
  border-top: solid 5.3em #FFCC29;
  border-bottom-width: 0;
  position: absolute;
  top: 8em;
  left: 4em;
}

.azul-bg {
  width: 7em;
  height: 7em;
  background: #3E4095;
  border-radius: 50%;
  position: absolute;
  top: 4.5em;
  left: 9em;
  overflow: hidden;
}

.faixa-branca {
  width: 17em;
  height: 17em;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 2em;
  left: -7em;
}

.azul-bottom {
  width: 16em;
  height: 16em;
  background: #3E4095;
  border-radius: 50%;
  position: absolute;
  top: 2.5em;
  left: -6.5em;
}

.stars li{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #FFF;
  position: absolute;
}

.stars li:before {content: "★";}
.star-1:before {font-size: 0.3em;}
.star-2:before {font-size: 0.25em;}
.star-3:before {font-size: 0.2em;}
.star-4:before {font-size: 0.14em;}
.star-5:before {font-size: 0.1em;}

#procion {top: 2.15em; left: .5em}
#alphard {top: 2.85em; left: 2em}
#muliphen {top: 3.3em; left: 1.2em}
#sirio {top: 3.6em ; left: .8em}
#mirzam {top: 3.9em; left: 0.46em}
#wezen {top: 3.92em; left: 1.52em}
#adhara {top: 4.25em; left: 1.43em}
#canopus {top:4.65em ; left:1.9em }
#gracus {top:3.3em ; left:3.4em }
#palida {top:3.63em ; left:2.95em }
#intrometida {top:3.8em ; left:3.23em }
#mimosa {top:3.61em ; left:3.72em }
#acrux {top:4.35em ; left:3.37em }
#polaris-australis {top:5.4em ; left:3.45em }
#tra-1 {top:4.66em ; left: 4.13em}
#atria {top:5.11em ; left:4.39em }
#tra-2 {top:4.76em ; left:4.74em }
#apollyon {top:5.38em ; left:5.15em }
#sargas {top:5.03em ; left:5.13em }
#denebakrab {top:4.67em ; left:5.15em }
#girtab {top:4.67em ; left:5.48em }
#shaula {top:4.54em ; left:5.8em }
#wei {top:4.27em ; left:5.95em }
#antares {top:3.95em ; left:5.8em }
#graffias {top:3.94em ; left:6.35em }
#dhanab-al-shuja {top: 2.47em; left: 4.22em}
#spica {top: 1.5em; left: 4.43em }

/*MODAL DE INFORMAÇÕES*/

.back{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}

.modal{
  background-color: #ffffff;
  position: fixed;
  z-index: 3;
  width: 50vw;
  height: 60%;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  left: calc(50% -25vw);
  border-radius: 12px;
  box-shadow: 4px 4px 30px rgb(0,0,0,0.5);
  transition: all 0.5s;
  display: none;
  padding: 50px;
  opacity: 0;
}

.modal span.btn{
  left: 90%;
  position: relative;
  top: 10px;
  font-size: 50px;
  color: #000000;
  cursor: pointer;
}

.modal-content{
  width: 100%;
}

.modal p.modal-title{
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0;
}

.modal p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.modal-relogio{
  background-color: #000000;
  border: 5px solid #607D8B;
  padding: 5px;
  border-radius: 34px;
  margin-bottom: 40px;
  background: #111;
}

.modal-relogio p {
  font-family: 'digital-clock-font';
  font-size: 80px;
  line-height: 80px;
  margin: 0;
  color: #00ff00;
  text-shadow: 0px 0px 12px rgb(0,255,0);
}

.modal hr{
  border: 1px solid #000000;
}

/*MODAL HOVER*/

.bandeira:hover .hover-bandeira{
  display: block;
}

.hover-bandeira{
  width: 400px;
  height: 250px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.77);
  z-index: 2;
  display: none;
}

.hover-bandeira p{
  color: #ffffff;
  text-align: center;
  margin-top: 20%;
  font-size: 70px;
  font-family: 'Fredoka One', cursive;
}
