.header-inicial {
  width: 90%;
  background-color: #ffffff1a;
  text-align: center;
  padding: 15px 0px;
  border-radius: 16px;
}

.header-inicial h1{
  text-shadow: 0px 0px 20px #2196F3;
  letter-spacing: 3px;
  margin: 10px 0px;
  font-size: 15px;
}
