.flash {
  width: 90%;
  font-size: 3vmin;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  padding: 2px 0px;
  top: 0;
  opacity: 0;
  border-radius: 16px;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
