.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  padding: 5px 10px;
  outline: none;
  margin: 10px 5px 5px 5px ;
  border-style: none;
  font-size: 16px;
  border-radius: 16px;
}

.btn:hover{
  box-shadow: 0px 0px 20px #000000;
}

.link{
  color: #fff;
  text-decoration: none;
}
