input {
  background-color: #ffffff1a;
  border-radius: 16px;
  padding: 5px;
  text-align: center;
  margin: 5px 0px;
  outline: none;
  color: #fff;
}

.erro {
  border: 1.5px solid #FF220C;
}

.mensagem-erro {
  color: #FF220C;
  font-size: 12px;
}
