/*STYLE*/

/*GENERAL*/

*{
  transition: all ease-in-out .5s;
}

span,
p,
a {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
.display-4 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

h2,
.h2 {
    font-size: 4rem;
}

h3,
.h3 {
    font-size: 2.75rem;
}

.navbar-yellow {
  background-color: #ADA36B;
}

.text-black {
  color:#000000;
}

.text-white {
  color:#ffffff;
}

.text-yellow {
  color:#726729;
}

a.text-yellow:hover {
    color: #ffffff;
}

a.text-yellow:hover i{
    color: #000000;
}

.btn-red {
  font-weight: bold;
  background-color: #AD8A6B;
  border-color: #AD8A6B;
}

.btn-red:hover {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1);
  background-color: rgba(208, 199, 152, 0.83);
  border-color: rgba(208, 199, 152, 0.83);
}
/*HEADER*/

.d-sm-none{
  margin: 0 auto;
}

.carousel-indicators li{  
    background-color: #725b29;
}

.nav-item {
  letter-spacing: 1px;
}

.jumbotron {
  background-color: rgba(208, 199, 152, 0.83);
}

/*BASIC INFOS*/

.home--carousel {
  margin-top: 80px;
}

.home--carousel .jumbotron {
  z-index: 2;
}

/*TO EAT*/

.dark-background{
  background-color: #725B29;
}

p.card-text {
    min-height: 168px;
}

/*TO DRINK*/

/*TO HAVE FUN*/

.go-hover:hover {
    opacity: 1;
}

.go-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(208, 199, 152, 0.83);
}

.go-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -18px;
    text-align: center;
    color: #AD8A6B;
}

.go-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

/*FOOTER*/

/*RESPONSIVE*/


@media (max-width: 992px) {

  .jumbotron p br {
    display: none;

  }

  .home--carousel {
    margin-top: 56px;
  }

  .drink-item-middle {
    margin-bottom: 3rem !important;
  }

}

@media (max-width: 768px) {
  .home--carousel {
    margin-top: 47px;
  }
}
