/*GENERAL*/

.container {
  width: 980px;
  margin: 0 auto;
  height: 500px;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.bandeira-row-3 {
  height: 33.3%;
}

.bandeira-row-2 {
  height: 50%;
}

.bandeira-row-1 {
  height: 100%;
}

/*Finlândia*/
.finlandia-color {
  background-color: #0024c7;
}

.finlandia-row-m {
  display: inline-block;
  width: 250px;
}

.finlandia-row-s {
  display: inline-block;
  width: 150px;
}

/*Japão*/

.japao-color {
  background-color: #f11e01;
}

.japao-s {
  border-radius: 100%;
  width: 25%;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

/*Alemanhã*/

.alemanha-color-1 {
  background-color: #000000;
}

.alemanha-color-2 {
  background-color: #d00;
}

.alemanha-color-3 {
  background-color: #ffce00;
}

/*Grécia*/

.grecia-row-20 {
  height: 20%;
}

.grecia-row-40 {
  height: 40%;
}

.grecia-20 {
  width: 20%;
}

.grecia-40 {
  width: 40%;
}

.grecia-inline {
  display: inline-block;
}

.grecia-r {
  float: right;
}

.grecia-l {
  float: left;
}

.grecia-row-s {
  width: 300px;
}

.grecia-row-b {
  width: 680px;
}

.grecia-color {
  background-color: #010080;
}

/*Líbano*/

.libano-row {
  height: 25%;
}

.libano-row-img {
  text-align: center;
}

.libano-img {
  width: 200px;
  margin-top: 25px;
}

.libano-color {
  background-color: #fe0000;
}
