/*POKEDEX*/

h1#titulo {
  font-family: 'Pokemon Hollow';
  text-align: center;
  color: #196a9e;
  font-size: 60px;
  margin: 0px auto 15px auto;
  line-height: 90px;
}

.container-pokedex {
  margin: 0 auto 50px auto;
  max-width: 800px;
}

.container-pokedex:hover #vermelha-dois,
.container-pokedex:hover .bolotinhas{
  opacity: 0.7;
}

.pokedex-left, .pokedex-right {
  min-width: 400px;
  min-height: 650px;
}

.pokedex-left {
  background: url(../img/background-left.png) no-repeat right;
  float: left;
}

.pokedex-right {
  background: url(../img/background-right.png) no-repeat left;
  float: right;
}

.pokedex-left .pokedex-img {
  width: 50%;
  margin: 0 auto 0 80px;
  text-align: center;
  height: 460px;
  padding-top: 210px;
  box-sizing: border-box;
}

.intecacoes {
  width: 50%;
  margin: 0 50px 0px auto;
}

.pokedex-left .pokedex-img img {
  margin: 0 auto;
  width: 100%;
}

input#idPokemon, input#sorte {
  border: 2px solid #000000;
}

input#idPokemon:focus, button#sorte:focus {
  outline: none;
}

input#idPokemon {
  padding-left: 7px;
  background-color: #83b08a;
  width: 157px;
  height: 39px;
  border-radius: 10px;
}

input#idPokemon::placeholder {
  color: #232323;
}

input#sorte {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  margin-left: 97px;
  margin-top: 5px;
  font-size: 22px;
  box-sizing: border-box;
  background-color: #414141;
  padding: 0px 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out
}

input#sorte:hover {
  background: #5f5f5f;
}

input#sorte:focus {
  outline-offset: 0px;
  outline: none;
}

/*POKEDEX RIGHT*/

#dadosPokemon-right h2, #dadosPokemon-right h3, #dadosPokemon-right p, #dadosPokemon-right li {
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
}

#dadosPokemon-right h2 {
  text-transform: capitalize;
}

#dadosPokemon-right h2, #dadosPokemon-right p {
  text-align: center;
}

#dadosPokemon-right h3 {
  margin-left: 20px;
}

.group-item {
  padding: 0px 0px 45px;
  width: 316px;
  height: 416px;
  margin: 189px 0 0 48px;
  box-sizing: border-box;
  overflow: auto;
}

.group-item ul {
  margin: 0;
}

.group-item::-webkit-scrollbar-track {
  background-color: #242424;
}

.group-item::-webkit-scrollbar {
  width: 8px;
  background-color: #242424;
}

.group-item::-webkit-scrollbar-thumb {
  background-color: #404040;
}

.bolota {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 82px;
  width: 83px;
  margin: 28px 0 0 39px;
  border-radius: 100%;
  transition: background 0.18s;
  opacity: 0;
}

.bolotas {
  position: absolute;
  height: 15.5px;
  width: 15.5px;
  border-radius: 100%;
  transition: opacity 0.3s;
}

.bolotas#vermelha {
  background: #fd3d5d;
  margin: 19px 0 0 157px;
  opacity: 0;
}

.bolotas#vermelha-dois {
  background: #ff3333;
  margin: 416.4px 0 0 73px;
  opacity: 0;
}

.bolotas#amarela {
  background: #fff29c;
  margin: 19px 0px 0 186px;
  opacity: 0;
}

.bolotas#verde {
  background: #00ff26;
  margin: 19px 0 0 215px;
  opacity: 0;
}

.bolotinhas{
  background: #ff3333;
  position: absolute;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  opacity: 0;
  transition: opacity 0.3s;
}

.bolotinhas.um{
  margin: 201px 0 0 167px;
}

.bolotinhas.dois{
  margin: 201px 0 0 188px;
}
