/* BUTTON */

.button {
    display: inline-block;
    line-height: 18px;
    border-radius: 12px;
    text-transform: uppercase;
    transition: background 0.5s ease-in-out ; /*O que eu quero mudar | duração para execução | tipo | tempo de delay para executar*/
}

.button-white {
  background-color: #ffffff;
  color: #0678A9;
  padding: 20px 30px;
  font-size: 18px;
}

.button-white:hover {
  background-color: #0678A9;
  color: #ffffff;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
}

.contato .button-form{
  width: 30%;
  float: right;
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  border-radius: 12px;
  text-transform: uppercase;
}

.contato .button-form:hover{
  color: #fff;
  background-color: #0678a9;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
  border:none;
}
