/*CONTATO*/

.contato-content {
  box-sizing: border-box;
}

.contato-text,
.contato-form {
  padding: 40px 40px 20px;
}

.contato-form {
  background: -moz-linear-gradient(-45deg, #0678a9 0%, #ffb700 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0678a9 0%,#ffb700 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0678a9 0%,#ffb700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 12px;
}

.contato-content form {
  width: 310px;
  margin: 0 auto;
}

.contato-content form div {
    width: 315px;
    margin-top: 5px;
}

.contato-content input,
.contato-content textarea {
  width: 303px;
  height: 30px;
  border: none;
  margin-bottom: 12px;
  padding-left: 10px;
  border-radius: 12px;
}

.contato-content input:focus,
.contato-content textarea:focus {
    border-radius: 12px;
}

.contato-content textarea {
  padding-top: 5px;
  height: 70px;
}

@media (max-width:900px) {

  .contato-text, .contato-form {
    padding: 40px 15px 20px;
  }

}

@media (max-width:800px) {

  .contato-content form,
  .contato-content form div,
  .contato-content input,
  .contato-content textarea   {
    width: 250px;
  }

}

@media (max-width:700px) {

  .contato-content form,
  .contato-content form div,
  .contato-content input,
  .contato-content textarea   {
    width: 230px;
  }

}
