/*CONTENT*/
.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content div {
    width: 50%;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
}

.content-title,
.content-text {
  margin: 20px;
}

@media (max-width: 600px) {

  .content div{
    width: 100%;
    text-align: justify;
  }

  .content-title {
    text-align: center;
  }

}
