/*FOOTER*/
.footer-bottom {
  padding: 15px;
  background-color: #efefef;
  text-align: center;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav a {
  display: inline-block;
  padding: 5px 15px;
  color: #222;
}

.footer-botto p {
  margin: 0;
}
