/* GENERAL */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; /*apenas muda o estilo de parágrafos*/
  color: #333;
}

h1,
h2,
h3 {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mainLoginInput::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.mainLoginInput:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.mainLoginInput:-moz-placeholder,
textarea::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.text-blue {
  color: #0678a9;
}

.text-yellow {
  color: #ffb700;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 980px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: border-box; /*o tamanho do meu elemento não vai aumentar quando eu usar padding*/
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.no-banner {
  padding-top: 78px;
}

@media (max-width: 600px){

  .no-banner {
    padding-top: 120px;
  }
}
