/*HISTÓRIA*/

.historia article {
  margin: 50px 0px;
}

.historia article:hover {
  box-shadow: 0px 6px 12px rgba(6,120,169,0.3);
  border-radius: 8px;
}

.historia-content {
  width: 80%;
}

.historia-img{
  margin-top: 16px;
}

article:nth-of-type(odd) .historia-content,
article:nth-of-type(even) .historia-img {
  float: right;
  margin-right: 30px;
}

article:nth-of-type(even) .historia-content,
article:nth-of-type(odd) .historia-img {
  float: left;
  margin-left: 30px;
  text-align: right;
}

@media (max-width: 700px) {

  .historia-content {
    width: 70%;
  }

}

@media (max-width: 500px) {

  article:nth-of-type(odd) .historia-content,
  article:nth-of-type(odd) .historia-img{
    float: none;
    margin: 0;
  }

  article:nth-of-type(even) .historia-img,
  article:nth-of-type(even) .historia-content{
    margin: 0;
  }

  .historia-content{
    width: 100%;
  }
}
