/*PRODUTOS*/

.produtos-list {
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.produtos-list li {
  width: 50%;
  list-style: none;
  padding: 20px 0px;
  box-sizing: border-box;
  height: 310px;
}

.produtos-list li:hover{
  border: 1px solid #ccc;
  border-radius: 8px;
}

.produtos-list li:nth-of-type(even) {
  float: left;
}

.produtos-list li:nth-of-type(odd) {
  float: right;
}

.produtos-list p {
  margin: 0px 20px;
}

.servicos-button {
  text-decoration: none;
  padding: 10px;
  background-color: #18c518;
  margin: 20px 0px;
  border-radius: 12px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
}

.servicos-button:hover {
  background-color: #0f920f;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
}

@media (max-width: 620px) {

  .produtos-list li {
    height: 380px;
  }

}

@media (max-width: 450px) {

  .produtos-list li:nth-of-type(even),
  .produtos-list li:nth-of-type(odd) {
    float: none;
    width: 100%;
    height: auto;
  }

}
