/*SERVIÇOS*/

.servicos-col {
    margin: 15px 0px;
    padding: 15px 0px;
}

.servicos-col:hover {
  box-shadow: 0px 6px 12px rgba(6,120,169,0.3);
  border-radius: 8px;
}

.servicos-icon {
  width: 180px;
}

.servicos-content {
  width: 80%;
  float: right;
  padding-top: 20px;
}

.servicos-title {
  font-size: 22px;
}

@media (max-width:950px){

  .servicos-content {
    width: 68%;
    padding-top: 10px;
  }

}


@media (max-width:600px){

  .servicos-col {
    text-align: center;
  }

  .servicos-content {
    width: 100%;
    float: none;
  }
}
