.episodio-col {
  display: inline-block;
  width: 50%;
  padding: 20px 0px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  min-height: 250px;
}

.episodio-col img{
  width: 80%;
}

.episodio-col p{
  margin: 2px 0px;
  padding: 0;
  font-size: 18px;
}

.episodio-col:nth-of-type(2) h2{
  margin-top: 0;
  margin-bottom: 40px;
}
