.list-episodio {
  margin: 20px 0px;
  list-style: none;
  column-count: 3;
  text-align: center;
}

.list-episodio li {
  line-height: 40px;
  font-size: 16px;
}

.list-episodio a {
  background-color: #ffffff1a;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 16px;
  box-sizing: border-box;
}

.list-episodio a:hover {
  text-shadow: 0px 0px 20px #2196F3;
}
