/*FROM https://codepen.io/jrcharney/pen/Roogwr */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

/* Everything above this line is fine */
main{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.spinner-wrap {
  /* 50% of the area minus half the size of the object */
  left: calc(50% - 50px);
  top: calc(50% - 50px);

  margin: auto;
  position: absolute;
}

/* The width and height of the spinner MUST be equal to the spinner-wrap */
.spinner {
  position: relative;
  height: 100px;
  width:  100px;
  display: inline-block; /* Keep this or it will spin around the edge. */
  animation: spin 1s steps(8, end) infinite;
}

/* TODO: Trapezoid spinners */
.spinner span {
  /* height: 10px; width: 30px; */
  display: block;
  transition: transform 1s;
  position: absolute;
  /* So why does it move around the least at 35%? */
  /* This becomes smaller if the spinner becomes wider */
  left: 32%;
  /* leave this next line alone! */
  transform-origin: center 50px;
  /* background: #fff; */

  /* CSS trapezoids */
  border-top: 15px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	height: 0;
	width: 36px;
  
  /* Next thing to look at is changing these trapezoids into circular segments */
}

/* Everything below this line should be fine */

.spinner span:nth-child(1) {
  /* transform: rotate (0deg); */
  opacity: 0.125;
}

.spinner span:nth-child(2) {
  transform: rotate(45deg);
  opacity: 0.25;
}

.spinner span:nth-child(3) {
  transform: rotate(90deg);
  opacity: 0.375;
}

.spinner span:nth-child(4) {
  transform: rotate(135deg);
  opacity: 0.5;
}

.spinner span:nth-child(5) {
  transform: rotate(180deg);
  opacity: 0.625;
}

.spinner span:nth-child(6) {
  transform: rotate(225deg);
  opacity: 0.75;
}

.spinner span:nth-child(7) {
  transform: rotate(270deg);
  opacity: 0.875;
}

.spinner span:nth-child(8) {
  transform: rotate(315deg);
  opacity: 1.0;
}

/* Animation goes last */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
